body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #cfd8dc;
  font: 10pt 'Roboto';
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  padding: 0 20px;
  background-color: #eceff1;
  font: 14pt 'Roboto';
}

/* In that file for the print setutp*/
.page {
  display: flex;
  width: 101.6mm;
  height: 53.975mm;
  padding: 0mm;
  margin: 6mm;
  border-radius: 5px;
  background: white;
}
.book {
  display: flex;
  flex-wrap: wrap;
  margin-left: 320px;
}

input {
  width: 50px;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  text-align: center;
  font: inherit;
  margin: 4px 4px;
  padding: 0;
  -moz-appearance: textfield;
  appearance: textfield;
}
button {
  background-color: #cfd8dc;
  height: 50px;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

select {
  width: 120px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  font: inherit;
  text-align: left;
  margin: 4px 4px;
}

@page {
  size: 101.6mm 53.975mm;
  margin: 0mm;
}

@media print {
  html,
  body {
  }
  .book {
    margin: 0;
  }
  .sidebar {
    display: none;
  }
  .page {
    margin: initial;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
